body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #ff4c68;
  color: white;

}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.2rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Navbar */

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
  font-weight: 400;
}

/*Download Buttons*/

.download-button {
  margin: 3% 5% 3% 0;
}

/* Title image */

.title-image {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 25%;
}

/* Features */

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.each-element {
  padding: 4% 3%;
}

.features-icons {
  margin-bottom: 1rem;
  color: #ef8172;
}

.features-icons:hover {
  color: #ff4c68;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.each-element p {
  color: #8f8f8f;
}

/* Testimonials */

#testimonials {

  background-color: #ef8172;
  text-align: center;
  color: white;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

/* Pricing */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-card {
  padding: 3% 2%;
}

/* Call to action */

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}

#cta h3 {
  font-weight: 900;
  color: #fff;
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 10%;
}

/* Download Buttons */

.dbbb {
  margin-right: 1.5%;
}

.dbbw {
  margin-left: 1.5%;
}

/* Footer */

#footer {
  padding: 7% 15% 4%;
  text-align: center;
}

.footer-icon {
  margin: 0 1% 2%;
}

#footer p {
  color: #8f8f8f;
  font-size: 85%;
  font-weight: 500;
}


@media (max-width: 1000px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
